@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
p {
  color: dimgrey;
}
/*banner-top-start*/
.flaxible-part {
  display: flex;
}
.banner-top {
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}
.banner-left {
  width: 50%;
  padding-left: 7%;
}
.banner-left h1 {
  font-size: 50px;
}
.color {
  color: #ffa500;
}
.banner-left h4 {
  font-size: 19px;
  font-weight: 700;
}
.banner-left p {
  color: dimgrey;
  padding-right: 20px;
  margin-top: -8px;
}
.button-top a {
  padding: 10px 40px;
  text-transform: uppercase;
  background: linear-gradient(45deg, lightsalmon, tomato);
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
}
.button-top {
  margin-top: 30px;
}
.banner-right img {
  width: 75%;
  padding-left: 10%;
}
/*banner-top-end*/

/*about-section-start*/
.about-section {
  margin-top: 100px;
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.about-right img {
  width: 75%;
  padding-left: 13%;
}
.about-left {
  width: 50%;
  margin-right: 20px;
}
.about-left h1 {
  font-size: 47px;
}
.about-left h4 {
  font-size: 19px;
  font-weight: 700;
}
.about-left p {
  color: dimgrey;
  padding-right: 78px;
  margin-top: -8px;
}
/*about-section-end*/

/*experience-section-start*/
.experience {
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 150px;
}
.heading {
  font-size: 45px;
}
.box-1 {
  width: 36%;
  margin-left: 5%;
  box-shadow: 10px 10px 40px grey;
  padding: 50px 50px 75px 50px;
}
.box-1 h1 {
  font-size: 38px;
}
.border1 {
  border-left: 7px solid #fa6a58;
}
.border {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
/*experience-section-end*/

.footer {
  padding: 120px 0px 0px;
  text-align: center;
}
